.App {
  text-align: center;
}

.intro{
  margin: 20px 200px;
  border: dotted 2px black
}

.food-container{
  margin: 50px 400px;
}

.nav-bar{
  width: 98%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav-home{
  margin-right: 20px;
}

.nav-contact{
  margin-right: 20px;
}

.account-pic{
  height: 200px;
}

.user-favorites-list{
  border: solid 2px black;
  margin: 30px;
}

.user-favs-bground{
  
}

.display-favorites{
  border: dotted 2px black;
  height: 100px;
  margin: 50px 600px;
}

.addcomment-textarea{
  height: 100px;
  width: 500px;
}

.restaurant-img{
  height: 200px;
}

.restaurant-addons{
  margin-top: 50%
}

.map-resize{
  height: 300px;
}

.commentcontainer-container{
  border: solid 2px black;
  margin: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
