.App {
  text-align: center;
}

.nav-bar{
  width: 98%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav-home{
  margin-right: 20px;
}

.nav-contact{
  margin-right: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
