canvas {
  text-align: center;
  background: linear-gradient( #00dbde, #e600e6CC);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  min-width: 100vw;
  min-height: 100vh;
}

.particles{
  text-align: center
}

.intro{
  margin: 20px 200px;
  border: dotted 2px black;
  color: black;
  text-shadow: 3px 3px #9198e5;
  box-shadow: 3px 3px 40px black;
}

.contact-container{
  text-shadow: 3px 3px #9198e5
}

.about-container{
  text-shadow: 3px 3px #9198e5;
}

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-container{
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#favorites-btn{
  z-index: 10;
  height: 50px;
  margin: 10px;
  background-image: linear-gradient(to bottom, #00dbde, #e600e6)
}

.btn:hover {
  background: #2079b0;
  background-image: linear-gradient(to bottom, #00dbde, #e600e6);
  height: 25px;
}

.nav-bar{
  width: 98%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav-home{
  margin-right: 20px;
}

.nav-contact{
  margin-right: 20px;
}

.account-pic{
  height: 200px;
}

.user-favorites-list{
  border: solid 2px black;
  margin: 30px;
  box-shadow: 3px 3px 40px black;
  display: flex;
  flex-direction: column;
}

.display-favorites{
  border: dotted 2px black;
  box-shadow: 3px 3px 40px black;
  height: 120px;
  margin: 30px 300px;
}

.addcomment-textarea{
  height: 100px;
  width: 500px;
}

.restaurant-img{
  height: 200px;
  width: 200px;
}

.restaurant-addons{
  margin-top: 50%
}

.map-resize{
  height: 450px;
  z-index: -1;
}

.commentcontainer-container{
  border: solid 2px black;
  margin: 30px;
}

.list-title{
  text-shadow: 3px 3px #9198e5;
}

.fav-name{
  color: black;
}

.randomize-display{
  text-shadow: 3px 3px #9198e5;
}

.restaurants{
  padding: 30px;
}

.bouncy{
  animation: bouncy 3s linear;
  animation-iteration-count: 3;
  position: relative;
}

.one{
  animation-delay: 0.07s;
}

.two{
  animation-delay: 0.14s;
}

.three{
  animation-delay: 0.21s;
}


@keyframes bouncy {
  0%{
      top: 0em;
  }
  40%{
      top: 0em;
  }
  43%{
      top: -0.9em;
  }
  46%{
      top: 0em;
  }
  48%{
      top: -0.4em;
  }
  50%{
      top: 0em;
  }
  100%{
      top: 0em;
  }
}

@media(max-width: 500px){
  .food-container{
    align-items: center;
    width: 100%
  }
  .intro{
    margin: 20px;
  }
  .display-favorites{
    margin: 20px;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .display-favorites{
    height: 200px;
  }
  .map-resize{
    height: 500px;
    width: 100px;
    margin-top: 40%;
  }
  .override{
    width: 50%
  }
}

@media(max-width: 600px){
  .nav-bar{
    margin-right: 80px;
  }
  .food-container{
    align-items: center;
    width: 100%
  }
  .intro{
    margin: 60px;
  }
  .display-favorites{
    margin: 80px;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .display-favorites{
    height: 150px;
  }
}

@media(max-width: 800px){
  .food-container{
    align-items: center;
    width: 100%;
  }
  .intro{
    margin: 60px;
  }
  .display-favorites{
    margin: 60px;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .display-favorites{
    height: 100px;
  }
  .map-resize{
    height: 500px;
    width: 100px;
    margin-top: 40%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
